/* Estilo base para la tarjeta del personaje */
.practice-card {
    background-color: #fe9306;
    border: 4px solid #0f0f0f;
    border-radius: 6px; /* Bordes redondeados */
    padding: 2rem;
    transition: all 0.3s ease; /* Suaviza la animaci칩n del hover */
    text-decoration: none;
    color: inherit;
    display: flex;
    flex-direction: column;
    margin: 10px; /* Separaci칩n entre tarjetas */
    max-width: 300px; /* Ancho m치ximo para que no se estiren demasiado */
    display: inline-block; /* Para que se pongan una al lado de otra */
    vertical-align: top;
}

/* Efecto al pasar el mouse por encima */
.practice-card:hover {
    border-color: #2a2a2a;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1); /* Sombra suave */
    transform: translateY(-5px); /* Peque침o movimiento hacia arriba */
}

.practice-title {
    color: #e67e22; /* Color naranja estilo Dragon Ball */
}

#contenedor-personajes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}
h1 {
    text-align: center;
    margin-top: 20px;
    color: black; /* Color del texto */
    font-family: 'Arial', sans-serif;
}
body {
    background-color:aqua;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}
button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #fe9306;
    color: #fff;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

header {
    background-color: #fe9306;
    padding: 10px 0;
    text-align: center;
    color: white;
}
