/* Estilo base para la tarjeta del personaje */
.practice-card {
    background-color: #D3E3CD;
    border: 4px solid #1F2937;
    border-radius: 12px; /* Bordes redondeados */
    padding: 2rem;
    transition: all 0.3s ease; /* Suaviza la animación del hover */
    text-decoration: none;
    color:#000000 ;
    display: flex;
    flex-direction: column;
    margin: 10px; /* Separación entre tarjetas */
    max-width: 300px; /* Ancho máximo para que no se estiren demasiado */
    display: inline-block; /* Para que se pongan una al lado de otra */
    vertical-align: top;
}

/* Efecto al pasar el mouse por encima */
.practice-card:hover {
    border-color: #000000;
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.45); /* Sombra suave */
    transform: translateY(-5px); /* Pequeño movimiento hacia arriba */
}

.practice-title {
    color:#38BDF8; /* Color naranja estilo Dragon Ball */
    font-weight: 600;
    margin-bottom: 10px;
}

#contenedor-personajes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}
h1 {
    text-align: center;
    margin-top: 20px;
    color: #E5E7EB; /* Color del texto */
    font-family: 'Segoe UI', sans-serif;
}
body {
    background-color:  #E5E7EB;
    text-align: center;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;
}
button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    background-color:#007A3D;
    color: #E5E7EB;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}
button:hover {
    background-color: #007A3D;
    transform: translateY(-2px);
    box-shadow: 0 8px 20px rgba(56, 189, 248, 0.35);
}

header {
    background-color:#007A3D;           /* Más oscuro que el body */
    padding: 16px 0;
    text-align: center;
    color: #E5E7EB;
    font-weight: 600;
    border-bottom: 1px solid #1F2937;
}